<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon mat-list-icon>accessibility</mat-icon>
      </div>
      <mat-card-title>{{'BODY.MY_BALANCE_OF_THE_DAY'}}</mat-card-title>
      <mat-card-subtitle>
        <mat-chip-list>
          <mat-chip>{{'BODY.CALORIES'}}: 2500</mat-chip>
          <mat-chip>{{'BODY.CARBOHYDRATES'}}: 120</mat-chip>
          <mat-chip color="primary" selected="true">{{'BODY.PROTEIN'}}: 23</mat-chip>
          <mat-chip color="accent" selected="true">{{'BODY.FATS'}}: 340</mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{'BODY.CHOOSE_A_MEAL_TIME_AND_ADD_PRODUCTS'}}
        {{'BODY.COUNT_CALORIES_AND_CHECK_YOUR_NUTRIENT_BALANCE_SHEETS'}}
      </p>
      <mat-tab-group>
        <mat-tab label="{{'BODY.BREAKFAST'}}">Content 1</mat-tab>
        <mat-tab label="{{'BODY.SECOND_BREAKFAST'}}">Content 2</mat-tab>
        <mat-tab label="{{'BODY.LUNCH'}}">Content 2</mat-tab>
        <mat-tab label="{{'BODY.TEA'}}">Content 2</mat-tab>
        <mat-tab label="{{'BODY.DINNER'}}">Content 2</mat-tab>
        <mat-tab label="{{'BODY.ELEVENSES'}}">Content 2</mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
